.outerContainer {
    background-color: #FDF0E9;
    color: #806354;
    transition: 0.3s;
    padding-top: 85px;
    padding-bottom: 185px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categories {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-bottom: 75px;
    flex-wrap: wrap;
}

.category {
    cursor: pointer;
}

.category:hover {
    color: #5a453b;
}

.category.active {
    color: rgba(79, 226, 74, 1);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
    justify-items: center;
    margin: auto;
    margin-bottom: 80px;
    width: 100%;
}

.loadMoreBtn {
    display: flex;
    text-transform: uppercase;
    width: 170px;
    height: 48px;
    color: #391400;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.loadMoreBtn:hover {
    color: #391400;
    background-color: #f5f5f5;
}

.loadMoreBtn p {
    transform: translateY(1.5px);
}

.loadMoreBtnBlock {
    display: flex;
    justify-content: center;
}

.categoriesMobile {
    position: relative;
    width: 100%;
    height: 130px;
}

.pulloutList {
    position: absolute;
    width: 100%;
    margin-bottom: 48px;
    overflow: hidden;
}

.item {
    padding: 28px;
    background-color: white;
    position: relative;
    width: 100%;
    z-index: 10;
    border: 1px solid rgba(211, 211, 211, 0.1);
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    background-color: #f9f9f9
}

.items {
    width: 100%;
    transition: 0.3s;
    transform: translateY(-100%);
    z-index: 3;
}

.open {
    position: relative;
    transform: translateY(0px);
}

.activeItem {
    border: 1px solid #ef6c58a6;
    z-index: 4;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.activeItem:hover {
    background-color: white;
}

.arrow {
    border: 7px solid transparent;
    border-bottom: 10px solid #EF6D58;
    position: absolute;
    right: 20px;
    top: 30px;
    transform: rotate(180deg);
    transition: 0.3s;
}

.arrow.rotate {
    transform: rotate(0deg);
}

@media (max-width: 1600px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 790px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1040px) {
    .categories {
        display: none;
    }
}

@media (min-width: 1040px) {
    .categoriesMobile {
        display: none;
    }
}